@page "/armies/{ArmyListName}/builder"
@inject Context Context

<h3>@ArmyListName</h3>
<h4>Builder</h4>

@code {
    [Parameter]
    public string? ArmyListName { get; set; }

    private Army? Army { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(ArmyListName))
            return;
        Army = await Context.CreateArmy(Guid.NewGuid().ToString(), ArmyListName); // TODO: Set name
    }
}