@inherits LayoutComponentBase

<main class="vw-100 vh-100 d-flex align-items-center justify-content-center text-center">
    <NavMenu />

    <article class="content">
        @Body
    </article>
</main>