@using MiddleEarth.Builder.Application.Files
@inject ContextImporter Importer
@inject ContextExporter Exporter
@inject IJSRuntime Js
@inject IModalService ModalService

<nav class="navbar fixed-top">
    <div class="container-fluid d-flex justify-content-start">
        <NavLink class="navbar-brand btn btn-link text-inherit" href="/" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <button class="btn btn-link text-inherit" @onclick="Export"><i class="bi bi-cloud-download"></i> save</button>
        <button class="btn btn-link text-inherit" @onclick="() => ModalService.Show<Import>()"><i class="bi bi-cloud-arrow-up"></i> load</button>
    </div>
</nav>

@code {

    private async Task Export()
    {
        await using var fileStream = await Exporter.GetStream();
        var fileName = $"MiddleEarth_Builder_{DateTime.Now:yyyy-MM-dd_HH-mm-ss}.json";

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await Js.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }
}